<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/anderson/IdeaProjects/ApplaudoStudiosApiDemo">
        <classes>
            <class name="ApplaudoStudiosApi.Tests.Get_All_Characters">
                <methods>
                    <include name="getAllCharacters"/>
                </methods>
            </class>
            <class name="ApplaudoStudiosApi.Tests.Get_Character_Individually">
                <methods>
                    <include name="getOneCharacter"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>